@import "compass/css3";

.viewport-slide-container {
    height: 100%;
    width: 100%;
    @include box-sizing(border-box);
    @include transition(transform .4s cubic-bezier(0, 0, .25, 1));
}

.viewport-slide {
    width: 100%;
    height: 100%;
    @include box-sizing(border-box);
}
